<% layout('layouts/boilerplate') %>
    <ul>
        <% for (let post of posts){%>
        <li > <a href="posts/<%= post.id %>"> <%= post.title %> </a> - <%= post.description %></li>
        <% }%>
    </ul>

    <a href="/posts/new">Create a post</a>
</body>
</html>